{% extends "index.html" %}

{% block content %}

<h5 class="card-header">About</h5>
<div class="card-body">

    <p class="lead">

      <h4>Inspiration</h4>
      The fun art of creating videos slideshows, most of the time requires the tedious task of looking for images and narrating the text when necessary.
      
      We've been inspired by the <a href="https://www.youtube.com/watch?v=Jr9sptoLvJU&pp=qAMBugMGCgJlcxAB">carykh Automatically making YouTube videos with Google Images</a>
      <br><br>
      <h4>Links</h4>
      <ul>
        <li><a href="https://github.com/elivasquezhdz/azureai2021">Source code</a>   </li>  
        <li><a href="https://devpost.com/software/video-generator-r2hui0">Devpost Submission</a></li>        
      </ul>
      
    </p> 

    
</div>


               
{% endblock %}