{% extends "index.html" %}

{% block content %}



<h5 class="card-header">This text will be summarized and the converted to Video, we will limit to 4 sentences for demo purposes<br>Enter text here</h5>
    <div class="card-body">
      <form method="POST" action="">
            {{ form.hidden_tag() }}
        <fieldset class="form-group">
        <div class="form-group">
            {{ form.text(class="form-control") }}
 
        </div>

        <div class = "form-group" >

                {{ form.submit(class="btn btn-primary") }}
        </div>
        
    


        </fieldset>
      </form>
    </div>



               
{% endblock %}